In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, classification_report
from sklearn.neighbors import NearestNeighbors
import folium

In [4]:
df=pd.read_csv('/Dataset .csv')

In [5]:
print(df)

      Restaurant ID           Restaurant Name  Country Code              City  \
0           6317637          Le Petit Souffle           162       Makati City
1           6304287          Izakaya Kikufuji           162       Makati City
2           6300002    Heat - Edsa Shangri-La           162  Mandaluyong City
3           6318506                      Ooma           162  Mandaluyong City
4           6314302               Sambo Kojin           162  Mandaluyong City
...             ...                       ...           ...               ...
9546        5915730               Naml۱ Gurme           208         ��stanbul
9547        5908749              Ceviz A��ac۱           208         ��stanbul
9548        5915807                     Huqqa           208         ��stanbul
9549        5916112               A���k Kahve           208         ��stanbul
9550        5927402  Walter's Coffee Roastery           208         ��stanbul

                                                Address  \
0     Third Floor, Century City Mall, Kalayaan Avenu...
1     Little Tokyo, 2277 Chino Roces Avenue, Legaspi...
2     Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...
3     Third Floor, Mega Fashion Hall, SM Megamall, O...
4     Third Floor, Mega Atrium, SM Megamall, Ortigas...
...                                                 ...
9546  Kemanke�� Karamustafa Pa��a Mahallesi, R۱ht۱m ...
9547  Ko��uyolu Mahallesi, Muhittin ��st�_nda�� Cadd...
9548  Kuru�_e��me Mahallesi, Muallim Naci Caddesi, N...
9549  Kuru�_e��me Mahallesi, Muallim Naci Caddesi, N...
9550  Cafea��a Mahallesi, Bademalt۱ Sokak, No 21/B, ...

                                        Locality  \
0      Century City Mall, Poblacion, Makati City
1     Little Tokyo, Legaspi Village, Makati City
2     Edsa Shangri-La, Ortigas, Mandaluyong City
3         SM Megamall, Ortigas, Mandaluyong City
4         SM Megamall, Ortigas, Mandaluyong City
...                                          ...
9546                                    Karak�_y
9547                                   Ko��uyolu
9548                                 Kuru�_e��me
9549                                 Kuru�_e��me
9550                                        Moda

                                       Locality Verbose   Longitude  \
0     Century City Mall, Poblacion, Makati City, Mak...  121.027535
1     Little Tokyo, Legaspi Village, Makati City, Ma...  121.014101
2     Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...  121.056831
3     SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.056475
4     SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.057508
...                                                 ...         ...
9546                                Karak�_y, ��stanbul   28.977392
9547                               Ko��uyolu, ��stanbul   29.041297
9548                             Kuru�_e��me, ��stanbul   29.034640
9549                             Kuru�_e��me, ��stanbul   29.036019
9550                                    Moda, ��stanbul   29.026016

       Latitude                          Cuisines  ...          Currency  \
0     14.565443        French, Japanese, Desserts  ...  Botswana Pula(P)
1     14.553708                          Japanese  ...  Botswana Pula(P)
2     14.581404  Seafood, Asian, Filipino, Indian  ...  Botswana Pula(P)
3     14.585318                   Japanese, Sushi  ...  Botswana Pula(P)
4     14.584450                  Japanese, Korean  ...  Botswana Pula(P)
...         ...                               ...  ...               ...
9546  41.022793                           Turkish  ...  Turkish Lira(TL)
9547  41.009847   World Cuisine, Patisserie, Cafe  ...  Turkish Lira(TL)
9548  41.055817            Italian, World Cuisine  ...  Turkish Lira(TL)
9549  41.057979                   Restaurant Cafe  ...  Turkish Lira(TL)
9550  40.984776                              Cafe  ...  Turkish Lira(TL)

     Has Table booking Has Online delivery Is delivering now  \
0                  Yes                  No                No
1                  Yes                  No                No
2                  Yes                  No                No
3                   No                  No                No
4                  Yes                  No                No
...                ...                 ...               ...
9546                No                  No                No
9547                No                  No                No
9548                No                  No                No
9549                No                  No                No
9550                No                  No                No

     Switch to order menu Price range  Aggregate rating  Rating color  \
0                      No           3               4.8    Dark Green
1                      No           3               4.5    Dark Green
2                      No           4               4.4         Green
3                      No           4               4.9    Dark Green
4                      No           4               4.8    Dark Green
...                   ...         ...               ...           ...
9546                   No           3               4.1         Green
9547                   No           3               4.2         Green
9548                   No           4               3.7        Yellow
9549                   No           4               4.0         Green
9550                   No           2               4.0         Green

     Rating text Votes
0      Excellent   314
1      Excellent   591
2      Very Good   270
3      Excellent   365
4      Excellent   229
...          ...   ...
9546   Very Good   788
9547   Very Good  1034
9548        Good   661
9549   Very Good   901
9550   Very Good   591

[9551 rows x 21 columns]

In [6]:
print(df.head())

   Restaurant ID         Restaurant Name  Country Code              City  \
0        6317637        Le Petit Souffle           162       Makati City
1        6304287        Izakaya Kikufuji           162       Makati City
2        6300002  Heat - Edsa Shangri-La           162  Mandaluyong City
3        6318506                    Ooma           162  Mandaluyong City
4        6314302             Sambo Kojin           162  Mandaluyong City

                                             Address  \
0  Third Floor, Century City Mall, Kalayaan Avenu...
1  Little Tokyo, 2277 Chino Roces Avenue, Legaspi...
2  Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...
3  Third Floor, Mega Fashion Hall, SM Megamall, O...
4  Third Floor, Mega Atrium, SM Megamall, Ortigas...

                                     Locality  \
0   Century City Mall, Poblacion, Makati City
1  Little Tokyo, Legaspi Village, Makati City
2  Edsa Shangri-La, Ortigas, Mandaluyong City
3      SM Megamall, Ortigas, Mandaluyong City
4      SM Megamall, Ortigas, Mandaluyong City

                                    Locality Verbose   Longitude   Latitude  \
0  Century City Mall, Poblacion, Makati City, Mak...  121.027535  14.565443
1  Little Tokyo, Legaspi Village, Makati City, Ma...  121.014101  14.553708
2  Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...  121.056831  14.581404
3  SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.056475  14.585318
4  SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.057508  14.584450

                           Cuisines  ...          Currency Has Table booking  \
0        French, Japanese, Desserts  ...  Botswana Pula(P)               Yes
1                          Japanese  ...  Botswana Pula(P)               Yes
2  Seafood, Asian, Filipino, Indian  ...  Botswana Pula(P)               Yes
3                   Japanese, Sushi  ...  Botswana Pula(P)                No
4                  Japanese, Korean  ...  Botswana Pula(P)               Yes

  Has Online delivery Is delivering now Switch to order menu Price range  \
0                  No                No                   No           3
1                  No                No                   No           3
2                  No                No                   No           4
3                  No                No                   No           4
4                  No                No                   No           4

   Aggregate rating  Rating color Rating text Votes
0               4.8    Dark Green   Excellent   314
1               4.5    Dark Green   Excellent   591
2               4.4         Green   Very Good   270
3               4.9    Dark Green   Excellent   365
4               4.8    Dark Green   Excellent   229

[5 rows x 21 columns]

In [7]:
print(df.tail())

      Restaurant ID           Restaurant Name  Country Code       City  \
9546        5915730               Naml۱ Gurme           208  ��stanbul
9547        5908749              Ceviz A��ac۱           208  ��stanbul
9548        5915807                     Huqqa           208  ��stanbul
9549        5916112               A���k Kahve           208  ��stanbul
9550        5927402  Walter's Coffee Roastery           208  ��stanbul

                                                Address     Locality  \
9546  Kemanke�� Karamustafa Pa��a Mahallesi, R۱ht۱m ...     Karak�_y
9547  Ko��uyolu Mahallesi, Muhittin ��st�_nda�� Cadd...    Ko��uyolu
9548  Kuru�_e��me Mahallesi, Muallim Naci Caddesi, N...  Kuru�_e��me
9549  Kuru�_e��me Mahallesi, Muallim Naci Caddesi, N...  Kuru�_e��me
9550  Cafea��a Mahallesi, Bademalt۱ Sokak, No 21/B, ...         Moda

            Locality Verbose  Longitude   Latitude  \
9546     Karak�_y, ��stanbul  28.977392  41.022793
9547    Ko��uyolu, ��stanbul  29.041297  41.009847
9548  Kuru�_e��me, ��stanbul  29.034640  41.055817
9549  Kuru�_e��me, ��stanbul  29.036019  41.057979
9550         Moda, ��stanbul  29.026016  40.984776

                             Cuisines  ...          Currency  \
9546                          Turkish  ...  Turkish Lira(TL)
9547  World Cuisine, Patisserie, Cafe  ...  Turkish Lira(TL)
9548           Italian, World Cuisine  ...  Turkish Lira(TL)
9549                  Restaurant Cafe  ...  Turkish Lira(TL)
9550                             Cafe  ...  Turkish Lira(TL)

     Has Table booking Has Online delivery Is delivering now  \
9546                No                  No                No
9547                No                  No                No
9548                No                  No                No
9549                No                  No                No
9550                No                  No                No

     Switch to order menu Price range  Aggregate rating  Rating color  \
9546                   No           3               4.1         Green
9547                   No           3               4.2         Green
9548                   No           4               3.7        Yellow
9549                   No           4               4.0         Green
9550                   No           2               4.0         Green

     Rating text Votes
9546   Very Good   788
9547   Very Good  1034
9548        Good   661
9549   Very Good   901
9550   Very Good   591

[5 rows x 21 columns]

In [8]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9551 entries, 0 to 9550
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Restaurant ID         9551 non-null   int64
 1   Restaurant Name       9551 non-null   object
 2   Country Code          9551 non-null   int64
 3   City                  9551 non-null   object
 4   Address               9551 non-null   object
 5   Locality              9551 non-null   object
 6   Locality Verbose      9551 non-null   object
 7   Longitude             9551 non-null   float64
 8   Latitude              9551 non-null   float64
 9   Cuisines              9542 non-null   object
 10  Average Cost for two  9551 non-null   int64
 11  Currency              9551 non-null   object
 12  Has Table booking     9551 non-null   object
 13  Has Online delivery   9551 non-null   object
 14  Is delivering now     9551 non-null   object
 15  Switch to order menu  9551 non-null   object
 16  Price range           9551 non-null   int64
 17  Aggregate rating      9551 non-null   float64
 18  Rating color          9551 non-null   object
 19  Rating text           9551 non-null   object
 20  Votes                 9551 non-null   int64
dtypes: float64(3), int64(5), object(13)
memory usage: 1.5+ MB
None

In [9]:
# Handling missing values
df.dropna(inplace=True)

# Identifying categorical columns
categorical_cols = df.select_dtypes(include=['object']).columns

# One-hot encoding categorical variables
df_encoded = pd.get_dummies(df, columns=categorical_cols, drop_first=True)

# Splitting data
X = df_encoded.drop(columns=['Aggregate rating'])  # Replace with actual rating column name
y = df_encoded['Aggregate rating']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Model training (Linear Regression)
model = LinearRegression()
model.fit(X_train, y_train)

# Predictions and Evaluation
y_pred = model.predict(X_test)
print("MSE:", mean_squared_error(y_test, y_pred))
print("R-squared:", r2_score(y_test, y_pred))

MSE: 0.05129977391409926
R-squared: 0.9775986670018971

In [10]:
print(df.dropna(inplace=True))

None

In [11]:
print(categorical_cols)

Index(['Restaurant Name', 'City', 'Address', 'Locality', 'Locality Verbose',
       'Cuisines', 'Currency', 'Has Table booking', 'Has Online delivery',
       'Is delivering now', 'Switch to order menu', 'Rating color',
       'Rating text'],
      dtype='object')

In [12]:
print(df_encoded)

      Restaurant ID  Country Code   Longitude   Latitude  \
0           6317637           162  121.027535  14.565443
1           6304287           162  121.014101  14.553708
2           6300002           162  121.056831  14.581404
3           6318506           162  121.056475  14.585318
4           6314302           162  121.057508  14.584450
...             ...           ...         ...        ...
9546        5915730           208   28.977392  41.022793
9547        5908749           208   29.041297  41.009847
9548        5915807           208   29.034640  41.055817
9549        5916112           208   29.036019  41.057979
9550        5927402           208   29.026016  40.984776

      Average Cost for two  Price range  Aggregate rating  Votes  \
0                     1100            3               4.8    314
1                     1200            3               4.5    591
2                     4000            4               4.4    270
3                     1500            4               4.9    365
4                     1500            4               4.8    229
...                    ...          ...               ...    ...
9546                    80            3               4.1    788
9547                   105            3               4.2   1034
9548                   170            4               3.7    661
9549                   120            4               4.0    901
9550                    55            2               4.0    591

      Restaurant Name_#Dilliwaala6  Restaurant Name_#InstaFreeze  ...  \
0                            False                         False  ...
1                            False                         False  ...
2                            False                         False  ...
3                            False                         False  ...
4                            False                         False  ...
...                            ...                           ...  ...
9546                         False                         False  ...
9547                         False                         False  ...
9548                         False                         False  ...
9549                         False                         False  ...
9550                         False                         False  ...

      Rating color_Green  Rating color_Orange  Rating color_Red  \
0                  False                False             False
1                  False                False             False
2                   True                False             False
3                  False                False             False
4                  False                False             False
...                  ...                  ...               ...
9546                True                False             False
9547                True                False             False
9548               False                False             False
9549                True                False             False
9550                True                False             False

      Rating color_White  Rating color_Yellow  Rating text_Excellent  \
0                  False                False                   True
1                  False                False                   True
2                  False                False                  False
3                  False                False                   True
4                  False                False                   True
...                  ...                  ...                    ...
9546               False                False                  False
9547               False                False                  False
9548               False                 True                  False
9549               False                False                  False
9550               False                False                  False

      Rating text_Good  Rating text_Not rated  Rating text_Poor  \
0                False                  False             False
1                False                  False             False
2                False                  False             False
3                False                  False             False
4                False                  False             False
...                ...                    ...               ...
9546             False                  False             False
9547             False                  False             False
9548              True                  False             False
9549             False                  False             False
9550             False                  False             False

      Rating text_Very Good
0                     False
1                     False
2                      True
3                     False
4                     False
...                     ...
9546                   True
9547                   True
9548                  False
9549                   True
9550                   True

[9542 rows x 20807 columns]

In [13]:
print(X_train)

      Restaurant ID  Country Code  Longitude   Latitude  Average Cost for two  \
8177       18383466             1  77.353663  28.574219                   450
6401            216             1  77.134360  28.671141                   700
81          6713772            30 -46.746958 -23.609207                   120
1332       18462605             1  77.086080  28.482318                   300
9041           4482             1  77.339801  28.586405                   500
...             ...           ...        ...        ...                   ...
5743       18233572             1  77.052860  28.664641                   250
5200         311161             1  77.211180  28.536406                   300
5399         312983             1  77.128051  28.478595                   500
869          301731             1  77.305745  28.490062                   100
7279       18361770             1  77.156650  28.705019                   300

      Price range  Votes  Restaurant Name_#Dilliwaala6  \
8177            1      6                         False
6401            2    112                         False
81              4     11                         False
1332            1      0                         False
9041            2     93                         False
...           ...    ...                           ...
5743            1      1                         False
5200            1    308                         False
5399            2      4                         False
869             1      7                         False
7279            1      3                         False

      Restaurant Name_#InstaFreeze  Restaurant Name_#OFF Campus  ...  \
8177                         False                        False  ...
6401                         False                        False  ...
81                           False                        False  ...
1332                         False                        False  ...
9041                         False                        False  ...
...                            ...                          ...  ...
5743                         False                        False  ...
5200                         False                        False  ...
5399                         False                        False  ...
869                          False                        False  ...
7279                         False                        False  ...

      Rating color_Green  Rating color_Orange  Rating color_Red  \
8177               False                 True             False
6401               False                 True             False
81                  True                False             False
1332               False                False             False
9041               False                 True             False
...                  ...                  ...               ...
5743               False                False             False
5200                True                False             False
5399               False                 True             False
869                False                 True             False
7279               False                False             False

      Rating color_White  Rating color_Yellow  Rating text_Excellent  \
8177               False                False                  False
6401               False                False                  False
81                 False                False                  False
1332                True                False                  False
9041               False                False                  False
...                  ...                  ...                    ...
5743                True                False                  False
5200               False                False                  False
5399               False                False                  False
869                False                False                  False
7279                True                False                  False

      Rating text_Good  Rating text_Not rated  Rating text_Poor  \
8177             False                  False             False
6401             False                  False             False
81               False                  False             False
1332             False                   True             False
9041             False                  False             False
...                ...                    ...               ...
5743             False                   True             False
5200             False                  False             False
5399             False                  False             False
869              False                  False             False
7279             False                   True             False

      Rating text_Very Good
8177                  False
6401                  False
81                     True
1332                  False
9041                  False
...                     ...
5743                  False
5200                   True
5399                  False
869                   False
7279                  False

[7633 rows x 20806 columns]

In [14]:
print(X_test)

      Restaurant ID  Country Code  Longitude   Latitude  Average Cost for two  \
7142       18128874             1   0.000000   0.000000                   150
1860       18281955             1  77.064227  28.467934                  1500
4425         302898             1  77.250660  28.543755                   250
3219           2437             1  77.230277  28.572796                  1500
8308       18440413             1  77.331711  28.548867                   200
...             ...           ...        ...        ...                   ...
5612       18449661             1  77.219281  28.709557                   100
4061       18464687             1   0.000000   0.000000                   500
8746       18252364             1  77.385241  28.569480                   400
7678       18499450             1  77.056812  28.622119                   400
4430           3634             1  77.252032  28.543064                   250

      Price range  Votes  Restaurant Name_#Dilliwaala6  \
7142            1      2                         False
1860            3    105                         False
4425            1     55                         False
3219            3    245                         False
8308            1      0                         False
...           ...    ...                           ...
5612            1      0                         False
4061            2      0                         False
8746            1      0                         False
7678            1      3                         False
4430            1     91                         False

      Restaurant Name_#InstaFreeze  Restaurant Name_#OFF Campus  ...  \
7142                         False                        False  ...
1860                         False                        False  ...
4425                         False                        False  ...
3219                         False                        False  ...
8308                         False                        False  ...
...                            ...                          ...  ...
5612                         False                        False  ...
4061                         False                        False  ...
8746                         False                        False  ...
7678                         False                        False  ...
4430                         False                        False  ...

      Rating color_Green  Rating color_Orange  Rating color_Red  \
7142               False                False             False
1860                True                False             False
4425               False                 True             False
3219               False                False             False
8308               False                False             False
...                  ...                  ...               ...
5612               False                False             False
4061               False                False             False
8746               False                False             False
7678               False                False             False
4430               False                 True             False

      Rating color_White  Rating color_Yellow  Rating text_Excellent  \
7142                True                False                  False
1860               False                False                  False
4425               False                False                  False
3219               False                 True                  False
8308                True                False                  False
...                  ...                  ...                    ...
5612                True                False                  False
4061                True                False                  False
8746                True                False                  False
7678                True                False                  False
4430               False                False                  False

      Rating text_Good  Rating text_Not rated  Rating text_Poor  \
7142             False                   True             False
1860             False                  False             False
4425             False                  False             False
3219              True                  False             False
8308             False                   True             False
...                ...                    ...               ...
5612             False                   True             False
4061             False                   True             False
8746             False                   True             False
7678             False                   True             False
4430             False                  False             False

      Rating text_Very Good
7142                  False
1860                   True
4425                  False
3219                  False
8308                  False
...                     ...
5612                  False
4061                  False
8746                  False
7678                  False
4430                  False

[1909 rows x 20806 columns]

In [16]:
print(y_train)

8177    2.8
6401    3.2
81      4.1
1332    0.0
9041    3.4
       ...
5743    0.0
5200    4.0
5399    3.0
869     2.8
7279    0.0
Name: Aggregate rating, Length: 7633, dtype: float64

In [17]:
print(y_test)

7142    0.0
1860    4.1
4425    3.3
3219    3.9
8308    0.0
       ...
5612    0.0
4061    0.0
8746    0.0
7678    0.0
4430    3.3
Name: Aggregate rating, Length: 1909, dtype: float64

In [18]:
print(y_pred)

[-0.04508521  4.13618071  3.25845705 ... -0.17969713 -0.14377941
  3.08539643]